{% extends "layout.html" %}
{% block head %}

	<title>Catalog - Home</title>

{% endblock %}
{% block body %}
	<div class="row subtitle">
		<a href="{{url_for('displayCatalog')}}">Home</a> | <a href="{{url_for('addItem')}}">Add Item</a> | <a href="{{url_for('gdisconnect')}}">Logout</a>
	</div>
	
	<h3>
	{% with messages = get_flashed_messages() %}

		{% if messages %}
			
			<ul>
				{% for message in messages %}
					<li><strong> {{ message }}</strong></li>
				{% endfor %}
			</ul>

		{% endif %}

	{% endwith %}
	</h3>

	<table>
	
	<th><h3>Catagories</h3></th><th><h3>Latest Items</h3></th>
	<tr>
		<td>
			<ul>
				{% for i in all_catagories %}

					<li><a href="{{url_for('displayCatagoryItems', catagory_name=i.catagory_name)}}"> {{i.catagory_name}} </a></br></br></li>

				{% endfor %}
			</ul>
		</td>

		<td>
		
			<ul>
				{% for i in all_items %}
					{% for j in all_catagories %}
						{% if j.catagory_id == i.catagory_id_fk %}
							<li> {{i.item_name}} ( {{j.catagory_name}} )</li></br>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</td>
	</tr>
	</table>
{% endblock %}