{% extends "layout.html" %}
{% block head %}
	<title>Catalog - Edit Item</title>
{% endblock %}
{% block body %}
	<div class="row subtitle">
		
			<a href="{{url_for('displayCatalog')}}">Home</a>
		
	</div>	
	
	<h3>Edit Item</h3>

	<form action="{{url_for('editItem', catagory_name=catagory_name, item_name=item.item_name)}}" method='POST'>
		<table class="padTable">
			<tr>
				<td><label><b>Title :</b></label></td>
				<td><input type='textbox' name='items_name' value='{{item.item_name}}'></td>
			</tr>
			<tr>
				<td><label><b>Description :</b></label></td>
				<td><input type='textbox' name='items_desc' value='{{item.item_desc}}'></td>
			</tr>
			<tr>
				<td>Image cannot be changed.</td>
				<td><img id="dispItem" src="{{url_for('static', filename=item.ipicture)}}" alt="no image to display" width=200 height=200></td>
			</tr>
			<tr>
				<td></td>
				<td><input type='submit' value='Submit'><a href="{{url_for('displayCatagoryItems', catagory_name=catagory_name)}}">Cancel</a></td>
			</tr>
		</table>
	</form>
{% endblock %}