{% extends "layout.html" %}
{% block head %}
	<title>Catalog - Item Description</title>
{% endblock %}
{% block body %}
	<div class="row subtitle">
		<a href="{{url_for('displayCatalog')}}">Home</a>
	</div>

	<h3>{{item.item_name}}</h3>

	<p>{{item.item_desc}}</p>
	<a href="{{url_for('editItem', catagory_name=catagory_name, item_name=item.item_name)}}">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{url_for('deleteItem', catagory_name=catagory_name, item_name=item.item_name)}}">Delete</a>
{% endblock %}