<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	{% block head %} {% endblock %}

</head>
<body>
	<div class="container">
		<div class="row heading">
			<h1>Catalog App</h1>
		</div>
		<div class="row content">
			{% block body %} {% endblock %}
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>